<div id="divA" style="text-align:center" class="btn-group">
  <button class="button"routerLink="/todos"><span>Todos</span></button> - 
  <button class="button"routerLink="/africa"><span>Africa</span></button> -
  <button class="button"routerLink="/america"><span>America</span></button> -
  <button class="button"routerLink="/asia"><span>Asia</span></button> -
  <button class="button"routerLink="/europa"><span>Europa</span></button> -
  <button class="button"routerLink="/oceania"><span>Oceania</span></button>
  <div id="divB">
    <span>
      <router-outlet></router-outlet>
    </span>
  </div>
</div>